################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RegisterDependencyInjection/DesignTimeBuild/.dtbcache.v2
